$def with ()
<script src="static/js/xlxs/shim.min.js"></script>
<script src="static/js/xlxs/xlsx.full.min.js"></script>
<script src="static/app/waypoint/waypoint.js"></script>
<script src="static/app/waypoint/geopoint.js"></script>
<div>
  <span>
    <center>
      <div style="padding:100px">
	点击上传xlsx文件：
	<input type="file" id="input"></input>
      </div>
      <div style="width:400px">
	<span style="text-align: left;">
	  <p>说明：打开xlsx文件后，浏览器会自动下载 gpx文件。</p>
	  <p> 使用MapSource导入gpx文件即可。</p>
	  <p> 全过程均在浏览器端实现，不需要与服务器交互，xlsx文件也没有上传。</p>
	</span>
      </div>
    </center>
  </span>
</div>

